# Ignore configuration files that may contain sensitive information.
/messagebroker-config

# Ignore composer working files
composer.lock
/vendor/

# Ignore testing working files
tests/phpunit.xml

# Ignore OSX system files
.DS_Store

# Ingnore PHPStorm configuration files
.idea
